.background {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;

    .signin {
        display: flex;
        flex-direction: column;
        width: 25%;
        gap: 3rem;
        background-color: $secondary-color;
        padding: 3.5rem;
        align-items: center;
        font-family: 'Raleway';
        border-radius: 1rem;
        box-shadow: 0 2rem 4rem rgba(#000, 0.3);

        h1 {
            color: $main-color;
            font-size: 2.5rem;
        }

        input {
            border: 3px solid $main-color;
            padding: 1rem 2rem;
            border-radius: 1rem;
            font-family: 'Raleway';
            width: 80%;
            
            &:focus  {
                outline: none;
            }
            
        }

        a {
            text-decoration: none;
                font-size: 1.5rem;
                background-color: #023e8a;
                border: none;
                font-family: "Raleway";
                font-weight: 300;
                color: #fff;
                padding: 1rem 2rem;
                position: relative;
                margin-top: 1rem;
                cursor: pointer;

                &:before {
                    content: "";
                    position: absolute;
                    width: 2rem;
                    height: 2rem;
                    top: -5px;
                    left: -5px;
                    border-top: 2.5px solid #023e8a;
                    border-left: 2.5px solid #023e8a;
                    transition: all 0.25s;
                }

                &:after {
                    content: "";
                    position: absolute;
                    width: 2rem;
                    height: 2rem;
                    bottom: -5px;
                    right: -5px;
                    border-bottom: 2.5px solid #023e8a;
                    border-right: 2.5px solid #023e8a;
                    transition: all 0.25s;
                }

                &:hover:before,
                &:hover:after {
                    height: 100%;
                    width: 100%;
                }
        }
    }


}